/* 
  ~ author: @tridib_2003 
*/

.App {
    display: flex;
}

.textarea {
    width: 50%;
    height: 22rem;
    padding: 20px;
    font-size: 2rem;
    outline: none;
    border-radius: 2rem;
    border-width: 1px;
    background-color: #E0F2FE;
}

.markdown {
    font-size: larger;
    color: rgb(70, 70, 70);
    background-color: #E0F2FE;
    border: solid 1px;
    border-radius: 2rem;
    border-width: 1px;
    width: 50%;
    height: 22rem;
    padding: 20px;
}
